<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="#">
	<meta name="description" content="task,date,deadline,creation,project,planning,todo">
	<meta name="viewport" content="task,date,deadline,creation,project,planning,todo,width=device-width,initial-scale=1" >
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="script.js" defer></script>
	<title>Cat Clicker</title>
</head>
<body>
<div id="UserInfo">

</div>
</body>
</html>