<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="task,date,deadline,creation,project,planning,todo">
	<meta name="viewport" content="task,date,deadline,creation,project,planning,todo,width=device-width,initial-scale=1" >
	<link rel="shortcut icon" href="#">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
	<script src="login.js" defer></script>
	<title>Failed Login</title>
</head>
<body>
<div >
	<h1>Failed Login Attempt</h1>
	<p>Incorrect username or password</p>
	<button onclick="GoToPage('index.html')">Try Again?</button>
	<button onclick="GoToPage('createAccount.html')">Create an Account</button>
</div>
</body>
</html>