<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="task,date,deadline,creation,project,planning,todo">
	<meta name="viewport" content="task,date,deadline,creation,project,planning,todo,width=device-width,initial-scale=1" >
	<link rel="shortcut icon" href="#">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
	<script src="login.js" defer></script>
	<title>Failed Signup</title>
</head>
<body>
<div >
	<h1>Failed Signup Attempt</h1>
	<p>Username already registered</p>
	<button onclick="GoToPage('/index.html')">Login</button>
	<button onclick="GoToPage('/createAccount.html')">Create an Account</button>
</div>
</body>
</html>