<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Virtual Pet Game - Home Page</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="js/main.js"></script>
    <link id="page-theme" rel="stylesheet" href="/css/sakura.css" />
    <link rel="stylesheet" href="css/accessible.css" />
    <link rel="icon" href="data:;base64,iVBORw0KGgo=" />
  </head>

  <body>
    <!-- Header -->
    <header></header>
    
    <!-- Main -->
    <main></main>
   
    <!-- Footer -->
    <footer id="copyright">&copy; Copyright 2023 Nicole, Juliana, Julie</footer>
  </body>
</html>
