
#loginDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 100vh;
    margin: auto;
}

#altText {
    text-decoration: underline;
    text-decoration-color: lightskyblue;
    color: lightskyblue;
}

#loginForm {
    width: 30%;
}