.buttoncontainer {
	display: grid;
    grid-template-areas: "button1 button2 button3 button4";
    grid-gap: 5px;
}

.buttoncontainer:nth-child(1) {
    grid-area: button1;
}

.buttoncontainer:nth-child(2) {
    grid-area: button2;
}

.buttoncontainer:nth-child(3) {
    grid-area: button3;
}

.buttoncontainer:nth-child(4) {
    grid-area: button4;
}
