@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@tailwind base;
@tailwind components;

@layer base {
  :root {
    --text: #141205;
    --background: #fefdfb;
    --primary: #687dd9;
    --secondary: #ece1b1;
    --accent: #2a41a7;
  }

  .dark {
    --text: #faf8eb;
    --background: #040301;
    --primary: #263a97;
    --secondary: #4e4313;
    --accent: #586fd5;
  }
}