/* General Styling */
body {
    background-color: #1e1e20;
    color: white;
    font-family: "Calibri", "sans-serif";
    margin: 0;
}

/* Login Styling */
.login {
    width: 15vw;
    height: 45vh;
    margin: 25vh 0 0 37.5vw;
    color: black;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: white;
    padding: 40px;
}

.login--error-container {
    height: 10vh;
    color: red;
}

.login--form,
.signup--form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30vh;
    width: 100%;
}

.login--username,
.login--password,
.login--submit,
.login--signup-button,
.signup--username,
.signup--password,
.signup--submit, 
.dashboard--logout {
    padding: 10px;
    outline: 0px;
    border: 0px;
}

.login--username,
.login--password,
.signup--username,
.signup--password {
    border-bottom: 1px solid black;
    margin-bottom: 1px;
}

.login--submit,
.login--signup-button,
.signup--submit,
.dashboard--logout {
    color: white;
    background-color: #bb86f3;
}

.login--submit:hover,
.login--signup-button:hover,
.signup--submit:hover,
.dashboard--logout:hover {
    background-color: #a46be2;
    cursor: pointer;
}

/* Dashboard styling */
.dashboard {
    /* display: flex;
    flex-direction: column; */
    /* align-items: center; */
}

.dashboard--header {
    display: flex;
    color: whites;
    background: #161618;
    justify-content: space-between;
}


.dashboard--header-text {
    margin-right: auto;
    margin-left: 20px;
}

.dashboard--container {
    display: flex;
    justify-content: center;
}


.dashboard--header-text > h1 {
    margin: 0;
}

.dashboard--logout {
    
}

.group {
    /* background: white; */
}
